body {
    background-color: rgb(245, 245, 245);
    font-size: 1.3em;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* menu */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("slike/vzorec.jpg");
    padding: 0 20px;
  }
  
  .logo_postavitev {
    padding: 10px;
    list-style-type: none;
    flex: 0 0 auto;
  }
  
  .logo {
    width: 150px;
    border-radius: 120px;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;
    position: relative;
  }
  
  .menu li {
    display: inline;
    vertical-align: middle;
  }
  
  .menu li a {
    padding: 15px 30px;
    
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 45px;
    background-color: #0051ff;
    transition: background-color 0.3s;
    margin-right: 50px;
  }
  
  .menu li:nth-child(-n+4) {
    /* Apply to the first four items */
    margin-right: 0;
  }
  
  .menu li:last-child {
    position: absolute;
    right: 0;
  }
  
  .menu li a:hover {
    background-color: #0034c2;
  }





  /*footer*/
footer {
    background-color: #333;
    padding: 40px 0;
    color: white;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /*vsebina*/
  
  .column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .social-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .social-item {
    margin: 10px 0;
  }
  
  .social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .social-icons i {
    font-size: 36px;
  }
  
  .social-icons a:hover {
    color: #ff0055; 
  }
  
  .address {
    text-align: left;
  }
  
  .trainer {
    margin: 20px 0;
  }
  
  .trainer h4 {
    margin-bottom: 10px;
  }
  
  .trainer p {
    margin: 5px 0;
  }
  
  
  @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  
    .column {
        margin: 10px 0;
    }
  }

/*vsebina*/

  section img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  
  .fa {
    padding: 10px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /* instagram*/
  .osebni .fa-instagram{
    background-image: linear-gradient(to bottom right, blue, purple, red, orange, yellow);
    color: white;
  }

  /* snapchat*/
  .fa-snapchat{
    background: rgba(207, 207, 0, 0.849);
    color: white;
  }
  /* snapchat*/
  .fa-tiktok{
    background: rgba(0, 0, 0, 0.849);
    color: white;
  }


  section{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  section h1{
    	color: #0034c2;
  }


  .obrazec{
    width: 600px;
    height: 600px;
  }


  .obrazec textarea{
    margin-bottom: 30px;
  }

  .obrazec a{
    text-decoration: none;
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: #0034c2;
    border-radius: 5px;
    color: #fff;
    transition: transform 0.2s;
  }

  .obrazec a:hover{
    background-color: #022b9c;
    transform: scale(1.15);
  }

  .osebni{
    padding-top: 100px;
  }

  input{
    margin-top: 3px;
    width: 500px;
    height: 30px;
    font-size: 15px;
  }

  textarea{
    margin-top: 3px;
    width: 500px;
    height: 100px;
    font-size: 15px;
  }

  section label{
    display: flex;
    justify-content: left;
    padding-left: 50px;
    padding-top: 10px;
  }