body {
  background-color: white;
  font-size: 1.3em;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* menu */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("slike/vzorec.jpg");
  padding: 0 20px;
}

.logo_postavitev {
  padding: 10px;
  list-style-type: none;
  flex: 0 0 auto;
}

.logo {
  width: 150px;
  border-radius: 120px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  position: relative;
}

.menu li {
  display: inline;
  vertical-align: middle;
}

.menu li a {
  padding: 15px 30px;
  
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 45px;
  background-color: #0051ff;
  transition: background-color 0.3s;
  margin-right: 50px;
}

.menu li:nth-child(-n+4) {
  /* Apply to the first four items */
  margin-right: 0;
}

.menu li:last-child {
  position: absolute;
  right: 0;
}

.menu li a:hover {
  background-color: #0034c2;
}


/*footer*/
footer {
  background-color: #333;
  padding: 40px 0;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-item {
  margin: 10px 0;
}

.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons i {
  font-size: 36px;
}

.social-icons a:hover {
  color: #ff0055; 
}

.address {
  text-align: left;
}

.trainer {
  margin: 20px 0;
}

.trainer h4 {
  margin-bottom: 10px;
}

.trainer p {
  margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .column {
      margin: 10px 0;
  }
}


/*vsebina*/
.container {
  max-width: 1700px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #0034c2;
  font-size: 50px;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offer {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: calc(25% - 40px);
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.offer:hover {
  transform: scale(1.05);
}

.offer h2 {
  font-size: 1.5em;
  color: #333;
}

.offer p {
  font-size: 1em;
  color: #666;
}

.offer a {
  text-decoration: none;
  padding: 15px 30px;
  background-color: #0034c2;
  border-radius: 5px;
  color: #fff;
  margin-top: auto;
  align-self: center;
  transition: transform 0.2s;
}

.offer a:hover{
  transform: scale(1.05);
  background-color: #0330aa;
}

